<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <h1 class="text-center text-primary font-fam">Your Profile Details</h1>

        <div class="row">
            <div class="col-md-4">
                <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario"> 
                <ul title="Ratings" class="list-inline ratings text-center">
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <!--<strong class="text-center text-primary font-fam  " style="border:8px solid #ffff00f7; background: #ffff00f7" >Information</strong><br>-->
                <div class="table-responsive">
                <table class="table table-user-information">
                    <tbody>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                    Identificacion                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                               {{user.id}}
                            </td>
                        </tr>
                        <tr>    
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary"></span>    
                                    Name                                              
                                </strong>
                            </td>
                            <td class="text-primary">
                               {{user.name}}  
                            </td>
                        </tr>
                        <!-- <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                    Lastname                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                             {{user.lastName}}
                            </td>
                        </tr> -->
    
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                    Username                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{user.username}}       
                            </td>
                        </tr>
    
    
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                    Role                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                               {{user.authorities[0].authority}}
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                    Room                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{user.room}}       
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                    Floor Number                                               
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{user.floorno}}       
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                    Hostel Name                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{user.hostelname}}       
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <div class="text-center p-3">
            <button class="btn btn-danger " style="margin-right: 1.1rem;"> Update </button>
            <button class="btn btn-warning "> Share </button>

        </div>
    </div>
    </div>           