<mat-card>
    <mat-action-list>
      <mat-list-item>
        <div mat-line style="color: rgb(58, 20, 160);font-family: Georgia, serif; margin-left: 6px;
        font-size: 21px;">Menu</div>
      </mat-list-item>
      <mat-list-item style="background-color: darkgray;">
        <button mat-icon-button class="icon" routerLink="/admin/view-dashboard">
          <mat-icon>dashboard                 
          </mat-icon>
          
          <span class="list-item-name" style="font-family: Georgia, serif;
          margin-left: 6px;
          font-size: 21px;">Dashboard</span>

        </button>
      </mat-list-item>
      <mat-list-item >
        <button mat-icon-button class="icon" routerLink="/admin/profile"  id="person">
          <mat-icon>person</mat-icon>
          <span class="list-item-name" style="font-family: Georgia, serif;
          margin-left: 6px;
          font-size: 21px;">Profile</span>
         
        </button>

      </mat-list-item>
      <!-- <mat-list-item style="background-color: darkgray;" >
        <button mat-icon-button class="icon" routerLink="'/admin/sen-alert/' + hid
        ">
          <mat-icon> add_alert </mat-icon>
          <span class="list-item-name" style="font-family: Georgia, serif;
          margin-left: 6px;
          font-size: 21px;">Alert</span>

        </button>

      </mat-list-item> -->
      <mat-list-item >
        <button mat-icon-button class="icon" routerLink="/admin/view-requests">
          <mat-icon>send_request</mat-icon>
          <span class="list-item-name" style="font-family: Georgia, serif;
          margin-left: 6px;
          font-size: 21px;"> Requests</span>

        </button>

      </mat-list-item>
      <mat-list-item style="background-color: darkgray;" >
        <button mat-icon-button class="icon" routerLink="/admin/add-housekeepers">
          <mat-icon> add </mat-icon>
          <span class="list-item-name" style="font-family: Georgia, serif;
          margin-left: 6px;
          font-size: 21px;">Add HouseKeeper</span>

        </button>
      </mat-list-item>
      <mat-list-item  >
        <button mat-icon-button class="icon" routerLink="/admin/view-feedbacks">
          <mat-icon> feedback </mat-icon>
          <span class="list-item-name" style="font-family: Georgia, serif;
          margin-left: 6px;
          font-size: 21px;">Feedbacks</span>

        </button>

      </mat-list-item>

      
      <!-- <mat-list-item style="background-color: darkgray;" >
        <button mat-icon-button class="icon" routerLink="/admin/view_Quizzes">
          <mat-icon>question_answer</mat-icon>
          <span class="list-item-name" style="font-family: Georgia, serif;
          margin-left: 6px;
          font-size: 21px;">Quizzes view-dashboard</span>

        </button>

      </mat-list-item>
      <mat-list-item >
        <button mat-icon-button class="icon" routerLink="/admin/add_Quizzes">
          <mat-icon>bookmark_add</mat-icon>
          <span class="list-item-name" style="font-family: Georgia, serif;
          margin-left: 6px;
          font-size: 21px;">Add Quizz</span>

        </button>

      </mat-list-item>
    
    <mat-list-item style="background-color: darkgray;" >
      <button mat-icon-button class="icon" routerLink="/admin/profile">
        <mat-icon>logout</mat-icon>
        <span class="list-item-name" style="font-family: Georgia, serif;
        margin-left: 6px;
        font-size: 21px;">Logout</span>

      </button>

    </mat-list-item> -->
    </mat-action-list>
  </mat-card>
  