.full-width
{
   width: 70%; 
   margin-left: 73px;
}
mat-card {
   box-shadow: 0 19px 38px rgba(59, 58, 58, 0.952), 0 15px 12px rgba(64, 63, 63, 0.887);
    
}
/* .bg
{
   background-image: url("../../assets/quizbg.jpg");
} */

.bg-image{
   background-image: url('/assets/login-2.jpg');
   
   height: 100%;
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size:cover;
   margin-top: -12px;
 }
 mat-label
 {
   color:#000;
 }

 .bg-img
 {
   background-image: url('/assets/loging.jpg');
   
   height: 100%;
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size:cover;
   margin-top: -12px;

 }