
.bg-image{
    background-image: url('/assets/HouseCleaning.jpg');
    
    height: 120%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: -11px;
  }