<div class="bootstrap-wrapper bg-image">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <mat-card class="example-card  " style="margin-top: 23px;" >
            <mat-card-header style="margin-top: 22px;">
          <!-- <div class="container text-center" style="margin: 0px; margin-left: 5px; margin-top:2px">
            <img src="../../assets/signup22.png" width="300" height="130">
          </div> -->
        </mat-card-header >
        <mat-card-content>
          <!-- {{user|json}} -->
          <form (ngSubmit)="reqSubmit()">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Room name</mat-label>
                  <input  name="roomno" [(ngModel)]="request.roomno"id="roomno" matInput placeholder="Enter here" required>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Cleaning Time</mat-label>
                  <input matInput  [(ngModel)]="request.cleaningtime"  name="cleaningtime" id="cleaningtime" placeholder="Enter here" required>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Hostel name</mat-label>
                  <input matInput  [(ngModel)]="request.hostelname"  name="hostelname" placeholder="Enter here" required>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Date</mat-label>
                  <input matInput name="date" [(ngModel)]="request.date" placeholder="Enter here" required>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Floor No</mat-label>
                  <input matInput  name="floorno" [(ngModel)]="request.floorno" placeholder="Enter here" required>
                </mat-form-field>
              </div>
            </div>
              
            
              
  
            <div class="container text-center" style="margin-left: -1rem;">
              <button mat-raised-button color="primary" style="margin-right: 10px;">send</button>
              <button mat-raised-button color="accent">Clear</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
        </div>
      </div>
    </div>
  </div>
